@model IEnumerable<LocVoiture.Models.Modele>

@{
    ViewBag.Title = "Index";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(../../Images/site/bg_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-3 bread">Management</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Marque)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Serie)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marque)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Serie)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ModeleID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ModeleID })
                    </td>
                </tr>
            }

        </table>
    </div>
</section>